{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route')=='course_edit' %}

        <div>
            <img src="{{ asset('/uploads/'~ course.imgSrc) }}" alt="Image" width="300">
        </div>
    {% endif %}
    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
