{% extends 'base.html.twig' %}


{% block title %}menu{% endblock %}


{% block body %}

<body class="theme-cyan">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img
                    src="http://www.wrraptheme.com/templates/lucid/hospital/assets/images/logo-icon.svg" width="48"
                    height="48" alt="Lucid"></div>
        <p>Please wait...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    {{ include('index/navbar.html.twig') }}



    {{ include('index/sidebare.html.twig') }}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a> Dashboard</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">

                    <div class="body">
                        <h2>Course index</h2>
                        <p class="float-md-right">
                            <button class="btn btn-outline-primary"><a href="{{ path('course_new') }}"> Ajouter
                                    cours </a>
                            </button>
                        </p>
                        <div class="table-responsive table_middel">
                            <table class="table m-b-0">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Nom Cours</th>
                                    <th>Prix </th>
                                    <th>ImgSrc</th>
                                    <th>Afiicher</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in courses %}
                                    <tr>
                                        <td>{{ course.id }}</td>
                                        <td>{{ course.nom }}</td>
                                        <td>{{ course.prix }}</td>
                                        <td>{{ course.imgSrc }}</td>
                                        <td>
                                            <a href="{{ path('course_show', {'id': course.id}) }}">
                                                <button class="btn btn-outline-success icon-eye"></button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('course_edit', {'id': course.id}) }}">
                                                <button class="btn btn-outline-warning fa fa-edit"></button>
                                            </a>
                                        </td>
                                        <td>
                                            <form method="post"
                                                  action="{{ path('course_delete', {'id': course.id}) }}"
                                                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ course.id) }}">
                                                <button class="btn btn-outline-danger fa fa-trash-o"></button>
                                            </form>
                                        </td>

                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
