{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    <div class="form-control">

        <i class=""></i>
        {{ form_label(form.nomM , 'le nom  ') }}
        {{ form_widget(form.nomM) }}

        <small>{{ form_help(form.nomM) }}</small>

        <div class="form-error">
            {{ form_errors(form.nomM) }}
        </div>


        <i class=""></i>
        {{ form_label(form.prixM, 'Prix') }}
        {{ form_widget(form.prixM) }}

        <small>{{ form_help(form.prixM) }}</small>

        <div class="form-error">
            {{ form_errors(form.prixM) }}
        </div>


        <i class=""></i>
        {{ form_label(form.imgSrc,'Image ') }}
        {{ form_widget(form.imgSrc) }}

        <small>{{ form_help(form.imgSrc) }}</small>

        <div class="form-error">
            {{ form_errors(form.imgSrc) }}
        </div>

        {% if app.request.attributes.get('_route')=='index_matiere_edit' %}

            <div>
                <img src="{{ asset('/uploads/'~ matiere.imgSrc) }}" alt="Image" width="300">
            </div>
        {% endif %}
        <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
    </div>

    {{ form_end(form) }}

{% endblock %}

