{% extends 'base.html.twig' %}

{% block title %} Votre Panier {% endblock %}

{% block body %}

    <div class="col-lg-6 col-md-12" style="margin-top: 10%; margin-left: 25%">
        <div class="card">
            <div class="header">
                <h2 style="text-align: center">Votre Panier</h2>
            </div>
            <div class="body">
                <div class="table-responsive social_media_table">
                    {% if items | length > 0 %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th colspan="2">Nom Matier</th>
                                <th>prix</th>
                                <th></th>
                                <th></th>
                                <th>Totale :</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td></td>
                                    <td colspan="2"><span class="list-name"></span>
                                        <span class="text-muted">{{ item.matiere.nomM }}</span>
                                    </td>
                                    <td>{{ item.matiere.prixM }} $</td>
                                    <td></td>
                                    <td>
                                        <a href="{{ path('user_panier_remove',{'id':item.matiere.id}) }}">
                                            <button type="button"
                                                    data-type="confirm"
                                                    class="btn btn-danger js-sweetalert"
                                                    title="Delete"
                                            >
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>

                            {% endfor %}

                            <tr>
                                <td></td>
                                <td colspan="5" class="text-right"><span class="list-name"></span>
                                    <span class="text-nowrap"> Totale :</span>
                                </td>

                                <td>{{ total }} $</td>
                            </tr>


                            </tbody>
                        </table>
                    {% else %}
                        <p2> ton panier est vide </p2>
                    {% endif %}
                    <a href="{{ path('user_interface') }}">
                        <button type="button" data-type="confirm" class="btn btn-link " title="Retour">Retour</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}